<!DOCTYPE html>
<html>
  <head>
    <title>Picnik</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="full-page-content">
      <% if flash[:success].present? %>
        <div class="success">
          <%= flash[:success] %>
        </div>
      <% end %>

      <% if flash[:error].present? %>
        <div class="error">
          <%= flash[:error] %>
        </div>
      <% end %>

      <header>
        <h1><%= link_to "picnik", root_path %></h1>
        <h2>snack from our best landscape photos</h2>
      </header>

      <nav>
        <% if is_logged_in? %>
          <% if @current_user.gravatar_image.present? %>
            <%= image_tag @current_user.gravatar_image, class: "avatar" %>
          <% end %>
          <strong><%= @current_user.username %></strong>
          <%= link_to "Log out", session_path, method: :delete %>
        <% else %>
          <%= link_to "Sign up", new_user_path %>
          <%= link_to "Log in", new_session_path %>
        <% end %>
      </nav>

      <div class="wrapper-page-content">
          <%= yield %>
      </div>

      <footer>
        ©2018 picnik ltd. - All images are from the great <a href="https://unsplash.com/">unsplash</a>
      </footer>
    </div>

  </body>
</html>
